<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>旅Log</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ここにサイト説明を入れます">
  <meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
  <link rel="stylesheet" href="stylesheets/trips.css">
  <script src="javascript/fixmenu_pagetop.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
  $(function(){
  $('a[href^="#"]').click(function() {
  var speed = 800;
  var href= $(this).attr("href");
  var target = $(href == "#" || href == "" ? 'html' : href);
  var position = target.offset().top;
  $('body,html').animate({scrollTop:position}, speed, 'swing');
  return false;
  });
  });
  </script>
</head>

<body>

<header>
  <h1 id="logo"><%= image_tag 'logo.png' %></h1>
  <nav id="menubar">
    <ul>
      <li><a href="#new">コンセプト</a></li>
      <li><a href="#company">旅行先を登録</a></li>
      <li><a href="#service">◯◯◯◯</a></li>
    </ul>
  </nav>
</header>

<div id="container">

<div id="contents">

<section id="new">

<h2>コンセプト</h2>
  <dl>
    ※後で記入
  </dl>

</section>
<!--/#new-->

<section id="company">

<h2>旅行先</h2>
<%= link_to '旅行先を登録', new_trip_path, class: "#" %>
<div>
    <div class="contents row">
      <% @trips.each do |trip| %>
      <p><%= link_to trip.name, "#", class: "#" %></p>
      <% end %>
    </div>
</div>

</section>
<!--/#company-->



<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

</body>
</html>
