<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>旅Log</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ここにサイト説明を入れます">
  <meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
  <link rel="stylesheet" href="stylesheets/trips.css">
  <script src="javascript/fixmenu_pagetop.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
  $(function(){
  $('a[href^="#"]').click(function() {
  var speed = 800;
  var href= $(this).attr("href");
  var target = $(href == "#" || href == "" ? 'html' : href);
  var position = target.offset().top;
  $('body,html').animate({scrollTop:position}, speed, 'swing');
  return false;
  });
  });
  </script>
</head>

<body>

<header>
  <h1 id="logo"><%= image_tag 'logo.png' %></h1>
  <nav id="menubar">
    <ul>
      <li><a href="#company">旅行先を登録</a></li>
    </ul>
  </nav>
</header>

<div id="container">

<div id="contents">

<section id="company">

<h2>旅行先 <%= link_to '(登録)', new_trip_path, class: 'btn trip' %></h2>

<div>
    <div class="#">
      <% @trips.each do |trip| %>
      <p><%= link_to trip.name, trip_path(trip.id), class: "trip_name" %><%= link_to '(削除)', trip_path(trip.id), method: :delete, class:'delete' %></p>
      <% end %>
    </div>
</div>

</section>

</body>
</html>
