<div class=#'>
 <h1><%=  @trip.name %></h1>
  <div class='#'>
     <div>
      <% @items.each do |item| %>
        <%if @items =nil %>
          持ち物を登録してください
        <%else%>
          <%= item.name %>
          <%= item.number%>
        <% end %> 
      <% end %> 
     </div>
    <%= link_to '持ち物登録', trip_items_path(@trip.id), method: :get, class: "#" %>
  </div>
</div>