 <div class="comment-main">
  <h1 class="comment-messeage">備忘録</h1>
  <%= form_with model: @comment, local: true do |f| %>
   <div class="comment-form">
    <%= f.text_field :text, id:"content", placeholder:"備忘録" %>
    <%= f.submit '登録する' , id: "submit" %>
   </div>
  <% end %>
  <div id="list">
  </div>
 </div>