<div class="#">
  持ち物リスト
  <div>
    <ul class="item js-item-target"></ul>
    <form>
      <input class="js-addTask-value" type="text" />
      <button class="js-addTask-trigger" type="button">アイテムを登録する</button>
    </form>
    <%# ● <input type="text", placeholder="(例)パスポート"> <input type="number", style="width:50px", placeholder="個数">
  </div>
    <input type="submit", value="登録">  %>
</div>