 <div class="item-main">
  <%= form_with model: @item, local: true do |f| %>
    <%= f.text_field :name, id:"content", placeholder:"(例)財布" %>
    <%= f.submit '登録する' , id: "submit" %>
  <% end %>
  <div id="list">
  </div>

  <% @items.each do |item| %>
    <div class="post" %>
      <div class="post-content">
        ・<%= item.name %>
      </div>
    </div>
  <% end %>
 </div>