@charset "utf-8";



/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html,body {height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: #333;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #f0f0f0;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

@keyframes opa1 {
0% {opacity: 0;}
100% {opacity: 1;}
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color:#fff;		/*リンクテキストの色*/
	transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
	color: white;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*ヘッダー（一番上の、ロゴやメニューが入っているブロック）
---------------------------------------------------------------------------*/
header {
	height: 100%;
	overflow: auto;
	position: relative;
	background-image: url('mainimg.jpg');
}
/*ロゴ画像*/
header #logo img {
	display: block;
	width: 20%;	/*画像の幅*/
	position: absolute;
	left: 40%;		/*ロゴやメニューが入っているブロックに対して、左からの配置場所の指定。*/
	bottom: 50%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニューブロック全体への指定*/
#menubar {
	position: absolute;
	bottom: 20%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
	left: 0px;
	width: 100%;
	text-align: center;
}
/*メニュー１個あたりの指定*/
#menubar li {
	display: inline-block;
	margin: 0 1%;
	animation-name: opa1;
	animation-delay: 1S;
	animation-duration: 1S;
	animation-fill-mode: both;
}
#menubar li a {
	text-decoration: none;display: block;text-align: center;
	width: 140px;	/*メニューの幅*/
	color: #fff;	/*文字色*/
	border-bottom: 2px solid transparent;	/*下線の幅、線種、色。transparentは透明の事。*/
	padding-bottom: 7px;	/*下線と文字の間にとる余白*/
	font-size: 20px;
}
/*マウスオン時の指定*/
#menubar li a:hover {
	border-bottom: 2px solid #fff;	/*下線の幅、線種、色*/
	letter-spacing: 0.1em;			/*文字間隔を少しだけ広くする指定。そのままがいいならこの１行を削除。*/
}

/*コンテナー（headerとfooterをのぞくブロックを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	max-width: 1400px;	/*最大幅。これ以上広くならない指定。*/
	margin: 0 auto;
}

/*コンテンツ（上のcontainerの中のブロック）
---------------------------------------------------------------------------*/
#contents {
	overflow: hidden;
	padding: 50px 3%;
}
#contents section + section {
	padding-top: 50px;
}
/*コンテンツ内にあるh2(見出し)タグの指定*/
#contents h2 {
	margin-bottom: 20px;
	clear: both;
	padding: 0 20px;
	font-size: 20px;		/*文字サイズ*/
	text-align: center;		/*文字をセンタリング*/
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くする指定*/
	background: #374c55;	/*背景色*/
	color: #fff;			/*文字色*/
	border-radius: 100px;	/*角を丸くする指定。大きめであれば適当で構いません。*/
}
/*コンテンツ内にあるh3(見出し)タグの指定*/
#contents h3 {
	margin-bottom: 20px;
	clear: both;
	padding: 0 20px;
	font-size: 18px;		/*文字サイズ*/
	text-align: center;		/*文字をセンタリング*/
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くする指定*/
	border: 2px solid #374c55;	/*枠線の幅、線種、色*/
	border-radius: 100px;	/*角を丸くする指定。大きめであれば適当で構いません。*/
	color: #374c55;			/*文字色*/
}
/*コンテンツ内にあるp(段落)タグ設定*/
#contents p {
	padding: 0px 20px 20px;	/*上、左右、下への余白*/
}
/*他。微調整。*/
#contents p + p {
	margin-top: -5px;
}
#contents h2 + p,
#contents h3 + p {
	margin-top: -10px;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding-left: 20px;
	margin-bottom: 15px;
}
/*日付設定*/
#new dt {
	float: left;
	width: 9em;
	letter-spacing: 0.1em;
}
/*記事設定*/
#new dd {
	padding-left: 9em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	border-bottom: none;	/*下線だけ消す*/
	text-align: center;		/*文字をセンタリング*/
	background: #dfdfdf;	/*背景色*/
	font-weight: bold;		/*太字に*/
	padding: 10px;			/*ボックス内の余白*/
}
/*テーブル１行目に入った見出し部分（※tamidashi）*/
.ta1 th.tamidashi {
	width: auto;
	text-align: center;	/*文字をセンタリング*/
	background: #dfdfdf;	/*背景色*/
}
/*ta1テーブルブロック設定*/
.ta1 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
}
.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px;			/*テーブル内の余白*/
}
/*テーブルの左側ボックス*/
.ta1 th {
	text-align: center;	/*センタリング*/
	width: 30%;			/*幅*/
}


/*ul.disc,olタグ
---------------------------------------------------------------------------*/
ul.disc {
	list-style: disc;
	padding: 0 20px 20px 55px;
}
ol {
	padding: 0 20px 20px 42px;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #fff;border: 1px solid #ccc;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 15px 40px;list-style: disc;}
.color1, .color1 a {color: #ff4765;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
.big1 {font-size: 40px;letter-spacing: 0.2em;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}




/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*ヘッダー（一番上の、ロゴやメニューが入っているブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo img {
	width: 30%;	/*画像の幅*/
	left: 35%;	/*ロゴやメニューが入っているブロックに対して、左からの配置場所の指定。*/
}

}



/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*ヘッダー（一番上の、ロゴやメニューが入っているブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo img {
	width: 50%;	/*画像の幅*/
	left: 25%;	/*ロゴやメニューが入っているブロックに対して、左からの配置場所の指定。*/
}

/*コンテナー（headerとfooterをのぞくブロックを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	font-size: 12px;
	font-size: 2.93vw;
}

/*コンテンツ（上のcontainerの中のブロック）
---------------------------------------------------------------------------*/
/*コンテンツ内にあるh2(見出し)タグの指定*/
#contents h2 {
	font-size: 16px;	/*文字サイズ*/
}
/*コンテンツ内にあるh3(見出し)タグの指定*/
#contents h3 {
	font-size: 14px;	/*文字サイズ*/
}

/*Serviceページ
---------------------------------------------------------------------------*/
/*h4見出しの設定*/
.list h4 {
	font-size: 16px;	/*文字サイズ*/
}

/*ul.disc,olタグ
---------------------------------------------------------------------------*/
ul.disc {
	padding: 0 0px 20px 35px;
}
ol {
	padding: 0 0px 20px 35px;
}

/*その他
---------------------------------------------------------------------------*/
.ws {width: 96%;}
.big1 {font-size: 22px;letter-spacing: normal;}

}
.trip-name{
	color:white;
	background-color: #374c55;
	font-size: 50px;
	text-align: center;
}

.btn-gradient-3d-simple {
	font-size: 25px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient( #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}

.btn-gradient-3d-simple:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.btn-gradient-2d-simple {
	font-size: 25px;
	margin-top: 40px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}

.btn-gradient-2d-simple:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
.btn-gradient-1d-simple {
	font-size: 25px;
	margin-top: 40px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#0c9153 0%, #72cc7e 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}

.btn-gradient-1d-simple:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.total_btn{
	background-image: url('bag.jpg');
	background-position:center;  
	background-size:cover;       
	background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;                        
  width:100%;                                            
	height:1000px;  
}
.contents{
	display: inline-block;
}

.btn {
  padding: 10px;
  color: #77848C;
  display: inline-block;
  border-radius: 4px;
}

.trip {
	color: #77848C;
  margin-right: 10px;
  margin-left:40px;
}
.trip_name{
	display: inline-block;
	margin-top: 20px;
	width: 170px;
	height:40px;
	background-color: #f0e663;
	color: rgb(25, 24, 41);
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
}
.back{
	font-size: 15px;
	color: lightgray;
}

.trip-place{
	background-image: url('world.png');
	background-position:center;  
	background-size:cover;       
	background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;                        
  width:100%;                                            
	height:1000px;
	font-size: 20px;
}

h1.todo-messeage{
	font-size: 30px;
	text-align: center;
}


.todo-form{
	text-align: center;
}
.item-form{
	text-align: center;
}

.item-list{
	list-style: none;
	font-size: 20px;
}
.todo-list{
	list-style: none;
	font-size: 20px;
}

input[type=checkbox]:checked + span.strikethrough{
  text-decoration: line-through;
}
h2.attention{
	color: darkred;
}
.delete{
	color: rgb(61, 54, 43);
	font-size: 15px;
	margin: 0 10px
}
.delete:hover { 
	color: rgb(235, 198, 144); 
}
.error-alert{
	text-align: center;
	color: red;
}
.container{
	text-align: center;
}
h3.trip-ab{
	font-size: 30px;
}

.trip-box{
	display: flex;
  margin: 0;
  padding: 20px;
	width: 95%;
	flex-wrap:wrap;
	vertical-align: middle;
}
