 <div class="todo-main">
 <h1 class="todo-messeage">あなたは現地でどんな「０→１」体験をしますか？</h1>
  <%= form_with(model: @mission, local: true) do |f| %>
  <%= render 'shared/error_messages', model: @mission %>
   <div class="todo-form">
    <%= f.text_field :name, id:"content", placeholder:"(例)名産品を買う"%>
    <%= f.submit '登録する' , id: "submit" %>
   </div>
  <% end %>
  <div id="list">
  </div>
 </div>