<div class="items-sell-main">
  <h2 class="items-sell-title">現地でやること</h2>
  <ul class="todo js-addTask-target"></ul>
  <%= form_with model: @item, local: true do |f| %>
    <div class="img-upload">
      <div class="click-upload">
          <%= f.text_field :name, class:"js-addTask-value", placeholder:"(例)名産品を買う" %>
          <button class="js-addTask-trigger" type="button">次へ</button>
      </div>
    </div>
    
    <div class="＃">
      <%= f.submit "登録する" ,class:"＃" %>
      <%=link_to 'もどる', root_path, class:"#" %>
    </div>
  <% end %> 
</div>